@{
    ViewData["Title"] = "Chính sách & quyền riêng tư";
}
@section Styles {
    <link rel="stylesheet" href="~/css/customer-pages.css" asp-append-version="true" />
}

<div class="customer-static-page">
    <h1>@ViewData["Title"]</h1>
    <p>Nội dung chính sách bảo mật và quyền riêng tư sẽ được cập nhật tại đây.</p>
</div>
